/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

.margin-btm {
    margin-bottom: 0;
}

.margin-tp {
    margin-top: 0;
}

/*
=========----------------------------------=========
            2.Login  Css     
=========----------------------------------=========
*/

#login-id {
    background: url(../img/logbg03.jpg);
    background-size: cover;
    background-position: center;
}

.login-content img {
    width: 150px;
}

.login-content h4 {
    margin: 0;
    padding: 15px 0;
}

.single-fild input {
    width: 100%;
    height: 35px;
    margin-bottom: 12px;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.single-fild label {
    text-transform: uppercase;
    color: #999;
    margin-top: 14px;
    font-size: 14px;
}

.log-frm-fild {
    margin-top: 35px;
}

.single-fild button {
    width: 100%;
    height: 35px;
    background: #4bc073;
    background: linear-gradient(90deg, #4bc073, #277c44);
    border: 1px solid #4bc073;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    transition: .3s;
    margin-top: 25px;
    margin-bottom: 35px;
}

.single-fild button:hover {
    background: #4bc073;
    background: linear-gradient(90deg, #277c44, #4bc073);
}

.card-header img {
    margin-top: -6px;
}

.log-frm {
    width: 100%;
    height: 100vh;
}

.log-frm-cont {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.single-fild i.icofont {
    font-size: 18px;
    margin-bottom: ;
    margin-top: 20px;
    margin-left: 14px;
}

.login-content .card {
    background: rgba(255, 255, 255, .9);
}

/*
=========----------------------------------=========
            3.reg-c Css     
=========----------------------------------=========
*/

.ac-head span {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

a.ac-typ-control {
    text-align: center;
    display: inline-block;
    width: 100%;
    border: 1px solid #999;
    padding: 15px 0;
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.log-frm-fild .row {
    margin-bottom: 0;
}

.ac-typ-control i.icofont {
    display: block;
    font-size: 37px;
    margin: 0;
}

a.ac-typ-control:hover {
    background: #297F46;
    color: #fff;
}

.single-fild {
    margin-top: 30px;
}

.single-fild.agree-fild {
    margin: 0;
}

/*
=========----------------------------------=========
            4.mail Confurm Php Css     
=========----------------------------------=========
*/

.user-out a {
    display: block;
    color: #4BBF74;
    text-decoration: none;
}

.user-out p {
    margin-bottom: 0;
    margin-top: 7px;
}



.reg-done span {
    position: absolute;
    background: red;
    background: linear-gradient(to bottom, #d64f89 0%, #fdb054 100%);
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.2
}

.reg-done svg {
    position: absolute;
    left: 8%;
    top: -40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#Wave1 {
    transform: translate(0px, 0px);
}

#Wave2 {
    transform: translate(50px, 0px);
}

#Wave3 {
    transform: translate(-50px, 0px);
}

#Wave4 {
    transform: translate(50px, 0px);
}

#Cloud {
    transform: translate(700px, 300px);
}

#Cloud2 {
    transform: translate(700px, 300px) scale(0.5);
}

#Cloud3 {
    transform: translate(500px, 450px) scale(0.3);
}


#Rays {
    /*transform: rotate(0deg)*/
}

.single-fild.reg-done {
    width: 100%;
    height: 95px;
}

.single-fild.mail-content p {
    margin-bottom: 0;
}

.single-fild.reg-done svg {
    margin-left: 30px;
}

.single-fild.mail-content a {
    display: block;
    color: #4BBF74;
    margin: 0;
}

/*
=========----------------------------------=========
            5.Job View Css     
=========----------------------------------=========
*/

.single-job-view h4 {
    margin: 0;
    color: #4ABF72;
}

.single-job-view .card {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.all-job-view {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 15px;
}

.single-job-view p {
    color: #000;
}

.single-job-view a {
    display: block;
    text-decoration: none;
    transition: .3s;
}

.single-job-view a:hover h4 {
    color: #125C28;
}

.single-job-view .card-body {
    padding-bottom: 0;
}

.user-symmery h4 {
    font-size: 14px;
    margin: 0;
}

.user-symmery h5 {
    font-size: 12px;
}

/*
=========----------------------------------=========
            6.Header Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

.copy-context img {
    width: 100px;
}

.copy-context p {
    margin: 0;
}

.copy-right .row {
    margin: 0;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

.top {
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 40px;
    display: none;
    background: #fff;
    border: 2px solid #FA4C1C;
    z-index: 99;
    color: #FA4C1C;
    -webkit-transition: .3s;
    transition: .3s;
}

.top i.fa {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top:after {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #FA4C1C;
    content: "";
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: .2s;
    transition: .2s;
}

.top:hover {
    text-decoration: none;
    color: #fff;
}

.top:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
}

.top {
    display: none;
    bottom: 70px;
}


/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       Profile View PAGE CSS                      |
 -------------------=======================----------------
*/

.skills-list-spn span {
    padding: 5px;
    background: #ddd;
    border-radius: 3px;
    color: #000;
}

.profile-edt-btn button {
    margin-top: 90px;
    display: block;
}

/*
 -------------------=======================----------------
|                       login 02 CSS                      |
 -------------------=======================----------------
*/

.log-pass-title span {
    display: block;
    font-size: 59%;
    margin-top: 7px;
    color: #555;
}

.single-fild.log-pass {
    margin: 0;
    height: 50%;
}

.single-fild.forgot-pass a {
    display: block;
    margin-top: 46px;
    text-align: right;
    color: #4ABD71;
    transition: .3s;
    text-decoration: none;
}



.single-fild.log-pass a {
    display: block;
    margin-top: 12px;
    color: #4ABF72;
    transition: .3s;
    text-decoration: none;
}

.single-fild.forgot-pass a:hover,
.single-fild.log-pass a:hover {
    color: #287E45;
}

/*
 -------------------=======================----------------
|                       Full Reg PAGE CSS                      |
 -------------------=======================----------------
*/

.full-reg-content {
    width: 100%;
    height: 100vh;
}

.full-reg-txt {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.full-reg-txt .card {
    background: rgba(255, 255, 255, .8);
    padding: 0 30px;
}

a.sign-up {
    display: block;
    margin-top: -25px;
    margin-bottom: 42px;
    color: #287E45;
    font-weight: bold;
    text-decoration: none;
}

/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/

/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/

/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/
